
            
            html{
                scroll-behavior: smooth;
            }

            header{
                padding: 1px auto;
                position: fixed;
                width: 100%;
                background-color: hsl(225, 93%, 84%);
                height: 35px;
            }

            header nav ul{
                list-style: none;
                text-align: center;
            }

            header nav ul li {
                display: inline;
            }

            header nav ul li a{
                text-decoration: none;
                text-transform: uppercase;
                color:black;
                font-family: arial;
                font-size: 20px;
                padding: 20px;
                display: incline-block;
            }

            header nav ul li a:hover{
                color:rgb(255, 0, 0); 
            }
    
            .nav-itens a{
                text-decoration: none;
                color: aliceblue;
                font-weight: 600;    
            } 
            
            nav.-itens.active a{
                color: antiquewhite;
                border-bottom: 5px solid black;
            }

            .menu-toggle:focus {
                outline: none; /* Remove a borda de foco */
            }
    
            .menu-toggle {
                display: block; /* Exibe o ícone do menu hamburguer apenas na versão móvel */
                position: absolute; /* Posiciona o botão hamburger */
                top: 5px;
                right: 20px;
                background: none;
                border: none;
                color: #000000;
                font-size: 20px;
                cursor: pointer;
                z-index: 999; /* Garante que o botão hamburger esteja acima de outros elementos */
            }
    
                #nav_lista,
                #navbar .btn-default{
                    display: none;
                }
/* titulo   ------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

            
            .titulo02{
                text-align: center;
                height: 35px;
                width: 450px;
                margin: auto;
                display: flex;
                justify-content: center;
                border-radius: 15px;
            } 

            .titulo04{
                text-align: center;               
                height: 40px;
                width: 240px;
                display: flex;
                justify-content: center;
                border-radius: 15px;
                background-color: hsl(0, 81%, 94%);
            } 

            .titulo05{
                text-align: center;               
                height: 35px;
                width: 240px;
                display: block;
                justify-content: center;
                border-radius: 15px;
                background-color: hsl(0, 81%, 94%);
            } 

            .titulo06{
                text-align: center;               
                height: 35px;
                width: 240px;
                display: flex;
                justify-content: center;
                border-radius: 15px;
                background-color: hsl(0, 81%, 94%);
            } 

            .titulo07{
                text-align: center;               
                height: 35px;
                width: 300px;
                display: flex;
                justify-content: center;
                border-radius: 15px;
                background-color: hsl(0, 81%, 94%);
            } 

            .paragrafo{
                text-align: center;
                padding: 0px auto;
                justify-content: center;
                font-size: 20px;
                background-color: aliceblue;
                width: 600px; 
                border-radius: 10px; 
                
            }

            .paragrafo02{
                text-align: center;
                display: block;
                justify-content: center;
                padding: 10px;
                font-size: 20px;   
                margin: 0px auto;
            }

            .paragrafo03{
                text-align: center;
                padding: 0px auto;
                justify-content: center;
                font-size: 20px;
                background-color: aliceblue;
                width: 1350px; 
                border-radius: 10px;
                height: 1315px; 
            }


            .paragrafo05{
                text-align: center;
                display: center;
                justify-content: center;
                padding: 10px;
                font-size: 17px; 
                

            }

            .paragrafo06{
                text-align: center;
                display: center;
                justify-content: center;
                padding: 10px;
                font-size: 17px; 
                margin: 10px,   
            }
           

        /* pagina cadastro contato -------------------------------------------------------*/
        
        .contato{
            width: 500px;
            margin: 50px auto;
            background-color: rgb(224, 238, 250);
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 1px 1px solid rgb(0, 0, 0);
        }

        input[type="nome"],
        input[type="email"],
        textarea {
            width: 470px;
            height: 40px;
            padding: 1px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="observacao"],
        textarea {
            width: 470px;
            height: 65px;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            justify-items: center;
            display: flex;
        }

        input[type="submit"]:hover {
        background-color: rgb(30, 218, 40);
        }

/* pagina cadastro login --------------------------------------------------------------*/


        .login{
            width: 520px;
            height: 350px;
            margin: 50px auto;
            background-color: rgb(224, 238, 250);
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 1px 1px solid rgb(0, 0, 0);
            
            
        }

        .h1{
            text-align: center;
            padding: 1px auto;
        }
        input[type="text"],
        input[type="password"],
        input[type="tel"],
        input[type="date"],
        textarea {
            width: 470px;
            height: 40px;
            padding: 1px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }  

        input[type="submit"] {
            background-color: #4CAF50;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            justify-items: center;
            display: flex;
        }

        input[type="submit"]:hover {
        background-color: rgb(30, 218, 40);
        }

       
        .btnCadastrar:hover{
            background-color: rgb(30, 218, 40);
        }


/* pagina cadastro cadastro --------------------------------------------------------------*/
        .cadastro{
            margin: 420px;
        }
        
        .cadastrar{
            width: 525px;
            height: 900px;
            margin: 50px auto;
            background-color: rgb(224, 238, 250);
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 1px 1px solid rgb(0, 0, 0);
                
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            justify-items: center;
            display: flex;
        }

        input[type="submit"]:hover {
        background-color: rgb(30, 218, 40);
        }
       
            


